@use "../../styles/tokens" as *;
.btnContainer{
    display: flex;
    gap: 10px;
}

.button{
    border-radius: 8px;
    border:1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #699a5d;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button:hover{
    border-color: #2c6485;
}

.button:focus,
.button:focus-visible{
    outline: 4px auto -webkit-focus-ring-color;
}

.button.selected{
    background-color: #33393c;
}

@media (max-width: $MOBILE_SCREEN) {
    .btnContainer {
      display: none ; 
    }
  }